@import "../../scss/variables";

.wrapper.card {
  box-shadow: $primaryShadow;
  padding: 20px 16px;
  height: 100%;
  
  cursor: pointer;

  .image {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

  .smallText {
    margin-bottom: 0;
    font-size: 0.9rem;
    color: $darkGray;
  }
}