/* ============= Colors ============= */
$primary: #4D7CFE;
$seconday: #214DC7;
$white: #ffffff;
$black: #000000;
$darkGray: #393e46;

/* ============= Shadows ============= */
$primaryShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;